<phpunit
    bootstrap="vendor/autoload.php"
    stopOnError="true"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	colors="true"
	strict="true"
	verbose="true">

    <testsuites>
        <testsuite name="core">
            <directory>tests/core</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"
            file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php">
        </listener>
    </listeners>

</phpunit>
