<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    stopOnError="true">

    <testsuites>
        <testsuite name="core">
            <directory>tests/core</directory>
        </testsuite>
        <testsuite name="endpoints">
            <directory>tests/endpoints</directory>
        </testsuite>
        <testsuite name="artist_endpoints">
            <directory>tests/endpoints/artist</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"
            file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php">
        </listener>
    </listeners>

</phpunit>
